@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: #26443F !important;
    color: #fff;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

.main-title{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 4em;
    padding-top: 25vh;
}

.title{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 4em;
}
